img {
  width: 200px;
  height: 300px;
}

.jumbotron {
    background-color: inherit;
    background: url('https://i.pinimg.com/originals/fc/34/11/fc34119e56220d694c63d2168df0bf1b.png') center center;
}
.jumbotron h1{
    color: white;
    text-shadow: -5px 0px black, 0px 5px black,5px 0px black, 0px -5px black; 
    font-size: 300px;
}
